@font-face {
    font-family: 'Lucky Dino';
    src: url(./assets/font/LuckyDino-3z6Ay.otf);
  }
  
  .ff-lucky {
    font-family: 'Lucky Dino' !important;
  }
  @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Chewy&display=swap');
  .ff_chewy{
    font-family: 'Chewy', system-ui !important;
  }
  .ff_balsmiq{
    font-family: 'Balsamiq Sans', sans-serif !important;
  }