@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_img {
  background-image: url(../src/assets/images/hero_nbgimg.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}


html,body{
  scroll-behavior: smooth;
}
.over_hidden{
  overflow: hidden;
}
.drgon1_animation {
  animation: drgon1_animation 24s infinite;
  animation-timing-function: linear;
}

@keyframes drgon1_animation {
  0% {
    transform: translateX(50%);
  }

  10% {
    transform: translateX(10px);
  }

  20% {
    transform: translateX(-110px);
  }


  30% {

    transform: translateX(-220px);
  }

  40% {
    transform: translateX(-330px);
  }

  50% {
    transform: translateX(-440px);
  }

  60% {
    transform: translateX(-600px);
  }

  70% {
    transform: translateX(-700px);
  }

  80% {
    transform: translateX(-900px);
  }

  90% {
    transform: translateX(-1100px);
  }

  100% {
    transform: translateX(-1350px);
  }
}
@media (max-width:576px) {
  .drgon1_animation {
    animation: drgon1_animation 7s infinite;
    animation-timing-function: linear;
  }
  
}